%h3
	= @user.name 
	Posts

%button
	Follow
	= link_to "", follow_path(@user), method: :get
%button
	Unfollow
	= link_to "", follow_path(@user), method: :delete


%table
	%tr
		%th Title
		%th Content
		%th Post img
		%th Embed url
		%th Username
		- @user.posts.each do |post|
			%tr
				%td= link_to post.user.name, user_url(post.user_id)
				%td= post.title
				%td= post.content
				%td= post.post_img
				%td= post.embed_url.html_safe
				%br



- if current_user == @user
	%h3 Following
	%p
		Following:
		= current_user.follow_count
		Users
	%table
		%tr
			%th Title
			%th Content
			%th Post img
			%th Embed url
			%th Username
			- current_user.following_users.includes(:posts).collect{|u| u.posts}.flatten.each do |post|
				%tr
					%td= link_to post.user.name, user_url(post.user_id)
					%td= post.title
					%td= post.content
					%td= post.post_img
					%td= post.embed_url.html_safe
					%br


