<div class="row">
  <div class="small-6 small-centered columns">
		<h2>forgot your password?</h2>
	</div>
</div>

<div class="row">
  <div class="small-6 small-centered columns">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

	  	<%= f.email_field :email, :autofocus => true, :placeholder => "email" %>

		  <%= f.submit "Send me reset password instructions" %>
		<% end %>
	</div>
	<%= render "devise/shared/links" %>
</div>

