
<!-- Using an unordered list for the slideshow -->
<!-- Add a span for each image and a div with a heading. -->
<!-- Spans will be the elements that will have the background images of the slideshow. -->

<ul class="slider">
    <li><span>Image 01</span><div><h3>discover new music</h3></div></li>
    <li><span>Image 02</span><div><h3>create mixtapes</h3></div></li>
    <li><span>Image 03</span><div><h3>share music with friends</h3></div></li>
    <li><span>Image 04</span><div><h3>welcome to mixtape exchange</h3></div></li>
</ul>

<div class="row-container">
    <div class="row">
      <div class="large-6 small-centered columns">
        <h1>MIXTAPE : EXCHANGE</h1>
      </div>
    </div> 
    <div class="circle">
    <div class="row">
      <div class="small-3 small-centered columns">
        <h2>Sign in</h2>
      </div>
    </div>


    <div class="row"> 
      <div class="small-3 small-centered columns">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>
      </div>
    </div>

    <div class="row">
      <div class="small-3 small-centered columns">
      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in" %></div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
