= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  %div.row
    %div.small-6.small-centered.columns
      .field
        = f.text_field :title, :placeholder => "Title"
  %div.row
    %div.small-6.small-centered.columns
      .field
        = f.text_area :content, :placeholder => "Content"
  %div.row
    %div.small-6.small-centered.columns
      .field
        = f.text_field :embed_url, :placeholder => "Embed Url"
  %div.row
    %div.small-6.small-centered.columns
      .field
        = f.text_field :tag_list, { :placeholder => "Tags separated by commas" }
  %div.row
    %div.small-6.small-centered.columns
      %h3 Cover Art
      .field
        = f.file_field :post_img, :class => 'button'
  %div.row
    %div.small-6.small-centered.columns
      .actions.center
        = f.submit 'Save', :class => 'button'
