= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title, :placeholder => "Title" 
  .field
    = f.text_area :content, :placeholder => "Content"
  .field
    = f.label :post_img
    = f.file_field :post_img, :value => 'covers/cover1.jpeg'
  .field
    = f.text_field :embed_url, :placeholder => "Embed url"
  .field
    = f.text_field :tag_list, { :placeholder => "Tags separated by commas" }
  .actions
    = f.submit 'Save'
