%h1
  = params[:sort]
  Mixtapes

%div.center
  %a.small.button.dropdown{"data-dropdown" => "drop1", :href => "#"} Sort

%br
  %ul#drop1.f-dropdown
    %li
      %a= link_to 'Top', posts_path(:sort => 'Top')
    %li
      %a= link_to 'New', posts_path(:sort => 'New')
    %li
      %a= link_to 'Hot', posts_path(:sort => 'Hot')

%div.row
  - @posts.each do |post|
    %div.small-12.large-4.columns.container
      - if post.post_img?
        %div.image= image_tag post.post_img_url
      - else
        %div.image= image_tag 'http://placehold.it/500x500'
      %div.inside-container
        %div.title
          = link_to post.title, post
        %div.author
          by,
          = link_to post.user.name, user_url(post.user_id)
        %div.count
          = post.votes.count
        %div.upvote
          = link_to image_tag('up_arrow.png', :size => '30x30'), vote_path(post), method: :get
