%h1 Listing posts

%button
  New Post
  = link_to '', new_post_path

%table
  %tr
    %th Title
    %th Content
    %th Post img
    %th Embed url
    %th Username
    %th Options

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.content
      %td= post.post_img
      %td= post.embed_url.html_safe
      %td= link_to post.user.name, user_url(post.user_id)
      %td
        = link_to 'Show', post
        |
        = link_to 'Edit', edit_post_path(post)
        |
        = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

