%h1 Listing posts

%table
  %tr
    %th Title
    %th Content
    %th Post img
    %th Embed url
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.content
      %td= post.post_img
      %td= post.embed_url
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
